<nav class="navigation-bar header four">
    <ul class="menu topmenu">
        <li>
            <button class="glow-on-hover english-button" type="button">
                Языки <i class="fa fa-caret-down" aria-hidden="true"></i>
            </button>
            <ul class="submenu">
                <li><a href="">Английский</a><span class="fi fi-gb" style="margin-left: 5px"></span></li>
                <li><a href="">Китайский</a><span class="fi fi-ch" style="margin-left: 5px"></span></li>
                <li><a href="">Немецкий</a><span class="fi fi-gm" style="margin-left: 5px"></span></li>
            </ul>
        </li>

        <li>
            <a class="glow-on-hover btn"  href="{% url 'stock' %}"  role="button" >Акции</a>
        </li>
        <li>
            <a class="glow-on-hover btn" href="{% url 'stock' %}" role="button">Галерея</a>
        </li>
        <li>
            <a class="glow-on-hover btn" href="{% url 'stock' %}" role="button">Отзывы</a>
        </li>
        <li>
            <a class="glow-on-hover btn" href="{% url 'stock' %}" role="button">Контакты</a>
        </li>
    </ul>

</nav>